
.u-pad-lg{
    padding: 8rem 18rem;
}

.u-pad-lg-2{
    padding-top: 1rem;
    padding-left: 18rem;
    padding-right: 18rem;
    padding-bottom: 6rem;
}

.u-cta-btn{
    text-transform: uppercase;
    padding: 1rem 2rem;
}